{% extends 'base.html' %}
{% block content %}
<div class="row container">
    <div class="col-md-3 float-left ">
        <i class="fas fa-envelope mt-4 fa-2x">
            <p>info@realtekrealty.com</p>
        </i>
    </div>
    <div class="col-md-3 mx-auto d-block">
        <i class="fas fa-phone mt-4 fa-2x">
            <p>+ 254 725 257 487</p>
        </i>
    </div>
    <div class="col-md-3 float-right">
        <i class="fas fa-map-marker-alt fa-2x">
            <p>Nairobi,Kenya</p>
        </i>
    </div>
</div>
{% endblock %}